ion-header{
    background-color: var(--background-color);
}

ion-title {
    background-color: var(--background-ColorHeader);
    color: white;
}

ion-row{
    margin-bottom: 15px;
}

ion-thumbnail {
    margin-top: 20px;
    --size: 140px;
    --border-radius: 14px;
  }