ion-content{
    padding: 0px;
    margin: 0px;
}

ion-grid{
    padding: 0px;
    margin: 0px;
}

.cardTitle {
    justify-content: space-around;
}

ion-title {
    background-color: var(--background-ColorHeader);
    color: white;
}

ion-card {
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--background-colorCard);
}