ion-header{
    background-color: var(--background-color);
}

ion-title {
    background-color: var(--background-ColorHeader);
    color: white;
}

ion-card{
    margin-top: 5px;
    background-color: var(--background-colorCard);
}

ion-card-header{
    padding-bottom: 10px;
}

ion-card-content{
    color: black;
}

ion-button{
    margin-right: 15px;
}

ion-col{
    padding: 0px;
}

.button{
    padding-top: 8px;
}

.position{
    padding-top: 15px;
}